<p id="notice"><%= notice %></p>

<h1>Listing Tasks</h1>

<% @tasks.each do |task| %>
  <%= link_to task do %>
    <div class="task">
        <!-- -->
      <%= task.title %>
      <%= task.progress %>
      <%= task.estimated_progress %>
      <%= task.complete %>
    <% task.sub_tasks.each do |sub| %>
      <div class="sub_task">
        <!-- -->
        <%= sub.title %>
        <%= sub.progress %>
        <%= sub.estimated_progress %>
        <%= sub.complete %>
      </div>
    <% end %>
    </div>
  <% end %>
<% end %>


<%= link_to 'New Task', new_task_path %>
