<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <h1>All Tasks</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Task</th>
          <th>Expected Pomodoros</th>
          <th>Actual Pomodoros</th>
          <th>Pomodoros Left</th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |task| %>

        <tr>
          <td>
            <%= link_to task.title, task%></td>
          <td><%= task.progress %></td>
          <td><%= task.estimated_progress %></td>
          <td><%= task.estimated_progress - task.progress %></td>
        </tr>

        <% end %>
      </tbody>
    </table>
  </div>

</div>
