<div class="row">
  <p id="notice"><%= notice %></p>


  <%= content_tag "div", class: "task", data: {task: @task, url: '/tasks'} do %>


    <%= render 'layouts/pomodoro' %>
        <!-- -->
        <h2><%= @task.title %></h2>


      <div class="task_progress">
        <%= @task.progress %>
      </div>
      <div class="estimated_progress">
        <%= @task.estimated_progress %>
      </div>
      <div class="complete">
        <%= @task.complete %>
      </div>

      <% end %>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>



</div>

<!-- Show all the current subtasks -->
<div class="row">
 <h3>Subtasks</h3>
  <% @task.sub_tasks.each do |sub| %>
    <%= link_to task_sub_task_url(:task_id => @task.id, :id => sub.id)  do %>
      <div class="sub_task">
        <!-- -->
        <div class="sub_task_title">
          <%= sub.title %>
        </div>
        <div class="sub_task_progress">
          <%= sub.progress %>
        </div>
        <div class="sub_task_estimated_progress">
          <%= sub.estimated_progress %>
        </div>
        <div class="sub_task_complete">
          <%= sub.complete %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<!-- add a new sub task -->
<div class="row">
 <h4>New Subtask</h4>
    <%= form_for([@task, @task.sub_tasks.build]) do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :progress %><br>
    <%= f.number_field :progress %>
  </div>
  <div class="field">
    <%= f.label :estimated_progress %><br>
    <%= f.number_field :estimated_progress %>
  </div>
  <div class="field">
    <%= f.label :complete %><br>
    <%= f.check_box :complete %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
    <% end %>

  </div>

</div>

