<div class="row">
  <p id="notice"><%= notice %></p>
  <% if @task.complete %>
    <h3 class="task_completed">
      Task <%= @task.title %> Completed!
    </h3>
  <% end %>


<div class="edit_buttons">
  <div class="button">
    <%= link_to 'Edit', edit_task_path(:id => @task)  %>
  </div>
  <div class="button">
    <%= link_to 'Delete', task_url(:id => @task), :method => :delete %>
  </div>
</div>
<div class="clear"></div>


  <%= content_tag "div", id: "task", data: {task: @task, url: '/tasks'} do %>

    <%= render 'layouts/pomodoro' %>
    <!-- -->
      <div class="row">
        <div class="col-md-6 task_progress">
          <div class="progression"><%= @task.progress || 0 %></div>
          <div>Current Pomodoros</div>
        </div>
        <div class="col-md-6 estimated_progress">
          <div class="stay"><%= @task.estimated_progress %></div>
          <div>Estimate Pomodoros</div>
        </div>
      </div>

      <h2><%= @task.title %></h2>

      <% end %>

</div>

<!-- add a new sub task -->
<div class="row new_sub_task">
  <h4>New Subtask</h4>

    <%= bootstrap_form_for([@task, @task.sub_tasks.build]) do |f| %>
      <%= f.text_field :title %>
      <%= f.number_field :estimated_progress %>
      <div class="form-group">
        <%= f.primary %>
      </div>
    <% end %>

  </div>

</div>

