    <%= form_for(@sub_task, url: task_sub_task_path(:id => @sub_task)) do |f| %>
  <% if @sub_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sub_task.errors.count, "error") %> prohibited this sub_task from being saved:</h2>

      <ul>
      <% @sub_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :estimated_progress %><br>
    <%= f.number_field :estimated_progress %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
