
<div class="container">
<p id="notice"><%= notice %></p>

<div class="edit_buttons">
  <div class="button">
    <%= link_to 'Edit', edit_task_sub_task_path(:id => @sub_task)  %>
  </div>
  <div class="button">
    <%= link_to 'Delete', task_sub_task_url(:id => @sub_task), :method => :delete %>
  </div>
</div>
<div class="clear"></div>

  <div class="row">
    <%= content_tag "div", id: "task", data: {task: @sub_task, url: '/tasks/' + @sub_task.task_id.to_s + '/sub_tasks'} do %>
      <%= render 'layouts/pomodoro' %>


      <div class="row">
        <div class="col-md-6 task_progress">
          <div class="progression"><%= @sub_task.progress || 0 %></div>
          <div>Current Pomodoros</div>
        </div>
        <div class="col-md-6 estimated_progress">
          <div class="stay"><%= @sub_task.estimated_progress %></div>
          <div>Estimate Pomodoros</div>
        </div>
      </div>

      <h2><%= @sub_task.title %></h2>

    <% end %>
  </div>
</div>
