<!DOCTYPE html>
<html>
<head>
  <title>Focus</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://cdn.rawgit.com/skylerto/pomodoro/master/build/pomodoro.js"></script>
</head>
<body>
  <div class="content">
    <div class="sidebar">
      <h3>Tasks</h3>
      <% @tasks.each do |task| %>
        <%= link_to task do %>

          <div class="task <%= active_class(task) %> <%= task_completed(task)%> ">
              <div class="task_title"><%= task.title %></div>
              <div class="task_pomodoro"><%= task.progress || 0 %>/<%= task.estimated_progress %></div>
            </div>
            <!-- loop over subtasks -->
            <% task.sub_tasks.each do |sub| %>
                <%= link_to task_sub_task_url(:task_id => task.id, :id => sub.id)  do %>
                  <div class="sub_task <%= active_class(task_sub_task_url(:task_id => task.id, :id => sub.id)) %> <%= task_completed(sub) %>">
                    <div class="sub_task_title"><%= sub.title %></div>
                    <div class="sub_task_pomodoro"><%= sub.progress || 0 %>/<%= sub.estimated_progress %></div>
                  </div>
                <% end %>
            <% end %>
          <% end %> <!-- end subtask look-->
        <% end %> <!-- end task look -->
        <!-- -->
        <div class="clear"></div>

        <%= link_to new_task_path do %>
          <div class="new_task">
            New Task
          </div>
        <% end %>
    </div>

  <div class="clear"></div>
    <div class="navigation">
    <div class="container">
   <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Tasks", tasks_path %></li>
          <li><%= link_to 'Profile', edit_user_registration_path %></li>
          <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Log In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
   </nav>

  </div><!-- container -->
  </div><!-- navigation -->

  <div class="clear"></div>
  <div class="main">
    <div class="container">
      <%= yield %>
    </div>
  </div>

  </div>
  <div id="footer"></div>

</body>
</html>
